.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 45vh;
}

.list {
  min-height: 100vh;
  padding: calc(50px + 0px) 0rem 4rem 0rem;

  &__wall {
    width: 100%;
    height: 480px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    user-select: none;

    //box-shadow: var(--box-shadow-4);

    &--image-1,
    &--image-2,
    &--image-3 {
      width: 100%;
      height: 480px;
      object-fit: cover;
      transition: var(--transition);
      transition: var(--transition);
    }

    &--image-2,
    &--image-3,
    &--image-icon-2 {
      display: none;
    }

    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 480px;
      text-decoration: none;

      &__inner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: inherit;

        &__detail {
          width: 750px;
          margin: 0 2rem 2rem 2rem;
          border-radius: var(--border-radius-1);

          .title {
            font-size: 1.5rem;
            font-weight: 500;
          }

          .length {
            display: none;
          }

          .overview {
            margin: 0.5rem 0 0 0;
            font-weight: 400;
            line-height: 1.8rem;
          }
        }

        &--activeOption {
          display: none;
          width: fit-content;
          margin: 2rem 0 0 2rem;
          font-size: 1.25rem;
          font-weight: 500;
          transition: var(--transition);
          text-align: center;
          border-radius: var(--border-radius-1);
          color: var(--primary);
          padding: 0.5rem 1rem;
        }
      }
    }

    .prevBtn,
    .nextBtn {
      position: absolute;
      left: 2rem;
      cursor: pointer;
      border-radius: 50%;
      margin: 0;
      width: 30px;
      height: 30px;
      background: rgb(0, 0, 0, 0.75);
      color: #fff;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -45%);
      }
    }

    .nextBtn {
      left: unset;
      right: 2rem;
    }

    .length {
      position: absolute;
      bottom: 1rem;
      right: 2rem;
      cursor: pointer;
      margin: 0;
      color: rgb(150, 150, 150);
      text-align: center;
      font-weight: 500;
    }
  }

  &__sort-switch-activeOption {
    margin: 0rem 0 4rem 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: var(--primary) !important;
    padding: 0 2rem;
    box-sizing: border-box;
    border-radius: 25px;

    .activeOption-1 {
      //text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0;
      padding: 0.5rem 0;
      color: #fff !important;
    }
  }

  .activeOption-2 {
    display: none;
  }

  &__movies {
    max-width: 1280px;
    // margin: 4rem 4rem 4rem 4rem;
    // margin: 4rem auto;
    padding: 0 4rem;
    margin-bottom: 4rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 4rem 2rem;
  }
}

@media screen and (max-width: 1280px) {
  .list {
    margin: 0;
    border-radius: 0px;

    &__wall {
      border-radius: 0;
      border-radius: 0px;

      &--image-1,
      &--image-2,
      &--image-3 {
        border-radius: 0px;
      }

      &__cover {
        border-radius: 0px;

        &__inner {
          &__detail {
            margin: 0 0 2rem 2rem;
          }
        }
      }

      &__buttons {
        right: 2rem;
      }
    }

    &__sort-switch-activeOption {
      border-radius: 0px;
    }

    &__movies {
      //margin: 4rem 2rem 4rem 2rem;
      padding: 0 2rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .list {
    &__wall {
      &__cover {
        &__inner {
          &__detail {
            width: 500px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 786px) {
  .list {
    padding-top: calc(50px + 0rem);
    padding-bottom: calc(50px + 2rem);

    &__wall {
      &--image-1 {
        display: none;
      }

      &--image-2 {
        display: flex;
      }

      &__cover {
        &__inner {
          &__detail {
            margin: 0 0 1rem 1rem;

            .overview {
              display: none;
            }
          }
        }
      }
    }

    &__sort-switch-activeOption {
      margin-bottom: 2rem;
      padding: 0.25rem 1rem;
      justify-content: space-between;

      .switch {
        display: flex;
        margin-left: 0rem;
      }

      .activeOption-1 {
        display: none;
      }
    }

    .activeOption-2 {
      display: flex;
      justify-content: center;
      //text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0;
      margin-bottom: 2rem;
    }

    &__movies {
      //margin: 4rem 1rem 2rem 1rem;
      padding: 0 1rem;
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .list {
    &__wall {
      height: 300px;

      &--image-icon-1 {
        display: none;
      }

      &--image-2 {
        height: 300px;
      }

      &--image-icon-2 {
        display: flex;
      }

      &__cover {
        height: 300px;

        &__inner {
          &__detail {
            margin: 0 0 1rem 1rem;
            width: fit-content;
            max-width: 70%;
            height: min-content;
            border-radius: var(--border-radius-1);
            color: rgb(150, 150, 150);

            .title {
              font-weight: 400;
              font-size: 1rem;
              font-family: var(--font-family-1);
            }

            .length {
              display: flex;
              color: rgb(150, 150, 150);
              font-size: 0.8rem;
              margin-top: 0.25rem;
              font-weight: 400;
            }

            .overview {
              display: none;
            }
          }
        }
      }

      .prevBtn {
        left: 1rem;
      }

      .nextBtn {
        right: 1rem;
      }

      .length {
        font-weight: 400;
        min-width: 43.7px;
        right: 1rem;
      }
    }

    &__movies {
      //margin: 2rem 1rem 2rem 1rem;

      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 1rem 0.75rem;
    }
  }
}

@media screen and (max-width: 376px) {
  .list {
    &__wall {
      height: 225px;

      &--image-2 {
        display: none;
      }

      &--image-3 {
        display: flex;
        height: 225px;
      }

      &__cover {
        height: 225px;
      }
    }

    &__movies {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
}
