.sort {
  position: relative;
  user-select: none;
  background: transparent;

  &__open {
    width: 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-bottom: unset !important;
    // background: var(--primary) !important;
    // color: #fff !important;
    background: transparent !important;

    span {
      display: inline-block;
      font-weight: 400;
    }
  }

  &__close {
    position: absolute;
    width: calc(145px);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-1);
    box-shadow: 0px 5px 5px #000;
    // background: var(--primary) !important;
    // color: #fff !important;

    z-index: -1;
    opacity: 0;

    transition: var(--transition);
    //margin-top: -2px;
    top: 2rem;

    &__inner {
      transform: scaleY(0);
      transition: var(--transition);

      span {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        font-weight: 400;
        // background: var(--primary) !important;
        // color: #fff !important;
      }

      span:first-child {
        margin-top: 0.5rem;
        //border-top-left-radius: var(--border-radius-1);
        //border-top-right-radius: var(--border-radius-1);
      }

      span:last-child {
        //border-bottom-left-radius: var(--border-radius-1);
        //border-bottom-right-radius: var(--border-radius-1);
        margin-bottom: 0;
        margin-bottom: 0.5rem;
      }

      span:hover {
        filter: brightness(80%);
        transition: filter 0.3s ease;
      }
    }
  }
}

// @media screen and (max-width: 640px) {
//   .sort {
//     margin-left: 1rem;

//     &__open {
//       width: 120px;

//       span {
//         font-size: 0.8rem;
//       }
//     }
//     &__close {
//       width: 152px;

//       span {
//         font-size: 0.8rem;
//       }
//     }
//   }
// }
